<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<config>
<assunto>Convidamos Você para o TheFour Brasil</assunto>
<message>


É Com imenso prazer que convidamos você para assistir o programa TheFour Brasil comigo.

- Data de gravação: {data}

- Horário de chegada:

- Endereço: Pavilhão Vera Cruz - Av. Lucas Nogueira Garcéz, 856 Centro - São Bernardo do Campo - SP

- Idade acima de 18 anos.

- Figurino: Roupa sem marca nem número, lembrando que precisam usar o mesmo para todos dias que foram chamado.

- Trazer autorização de imagem e termo de confidencialidade (em anexo);

- Só será permitida a entrada nas dependências do pavilhão com doc originais, identidade, CNH ou Carteira de trabalho

- Seu nome estará na lista de convidados e não será permitida a saída antes do término do programa.

- É exigência de produção que não haja "FALTAS" e a produção deverá ser informada com 48h de antecedência quanto a   possibilidade de desistência possibilitando a captação do público complementar.

- NÃO SERÁ PERMITIDO O USO DE MÁQUINA FOTOGRÁFICA, CELULAR E EXPRESSAMENTE PROIBIDA O USO DE MAQUINA DE FILMAR.

- Não é permitido fumar nas dependências do pavilhão Vera Cruz.</message>
<data>14/02/2019</data>
<hora>às 00:00</hora>
</config>
